In [1]:
list_a = [] 
print(list_a)                       #empty list
list_b = [1,2,3,4,5]  
print(list_b)                       #integer
list_c = [1, "simran", "Apple", 1.1] 
print(list_c)                       #mixed datatypes
print(list_c[2])
print(list_c[3])
print(list_b[3])

[]
[1, 2, 3, 4, 5]
[1, 'simran', 'Apple', 1.1]
Apple
1.1
4

In [8]:
#Nested List and Negative Indexing

ThisList = ["bat",[1,2,4], "News"]
print(ThisList)
print(ThisList[1][2])
print(ThisList[0][1])
print(ThisList[0][2])
print(ThisList[-1])           #Negative Indexing
print(ThisList[-2])
ThisList[1] = ["Ball"]        #Changing the items in list
print(ThisList)

['bat', [1, 2, 4], 'News']
4
a
t
News
[1, 2, 4]
['bat', ['Ball'], 'News']

In [2]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','e','r']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm', 'e', 'r']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'e', 'r']

In [3]:
tuple_1 = ()     #Empty tuple
print(tuple_1)
tuple_2 = (9,8,7,6)   #integers
print(tuple_2)
tuple_3 = (5,7,"Laptop", 13.19)  #Mixed datatypes
print(tuple_3)
tuple_4 = (2,4,5,("bat","ball"),[3,3])   #nested tuples
print(tuple_4)

print(tuple_2[3])      #indexing
print(tuple_2[-2])     #negative indexing
print(tuple_3[2][3])   #nested indexing

()
(9, 8, 7, 6)
(5, 7, 'Laptop', 13.19)
(2, 4, 5, ('bat', 'ball'), [3, 3])
6
7
t

In [4]:
# changing tuple values
my_tuple = (2,5,8,9,1)
print(my_tuple)

my_tuple = ('c','e','l','e','b','a','l')
print(my_tuple)

(2, 5, 8, 9, 1)
('c', 'e', 'l', 'e', 'b', 'a', 'l')

In [5]:
#String in python

my_str = "Sanjivani"   #datatype string
print(type(my_str))

my_str = 'Sanjivani'      #single quotes
print(my_str)

my_str = "Sanjivani"      #double quotes
print(my_str)

my_str = '''Sanjivani'''    #Tripple quotes
print(my_str)

my_str = """ Happy Learning Journey!!!     
                        with Celebal!!!"""  #multiple line strings
print(my_str)

<class 'str'>
Sanjivani
Sanjivani
Sanjivani
 Happy Learning Journey!!!
                        with Celebal!!!

In [6]:
# creating empty set
s = set()
print(type(s))

<class 'set'>

In [12]:
# empty dictionary
my_dict = {}
print(type(my_dict))

<class 'dict'>

In [9]:
# set with nested values
my_set = {1,3,5,'simran', 'harsh', 3.4, 5.9}
print(my_set)

#add elements to set
my_set.add(12)
for i in my_set:
  print(i)

#update set
my_set.update([22,'gayatri'])
print(my_set)

#delete element from set
my_set.discard(3)
my_set.remove('harsh')
print(my_set)

{1, 3, 3.4, 5, 5.9, 'harsh', 'simran'}
1
3
3.4
5
5.9
12
harsh
simran
{1, 3, 3.4, 5, 5.9, 12, 'harsh', 'simran', 22, 'gayatri'}
{1, 3.4, 5, 5.9, 12, 'simran', 22, 'gayatri'}

In [10]:
#Accessing characters of string in python

my_str = "Javascript"
print("my_str = ", my_str)

print("my_str[1] =", my_str[1])
print("my_str[2:5] =", my_str[2:5])
print("my_str[4:8] =", my_str[4:8])
my_str = "JavaDeveloper"
print(my_str)      #Reassigned the string

my_str =  Javascript
my_str[1] = a
my_str[2:5] = vas
my_str[4:8] = scri
JavaDeveloper

In [11]:
# dictionary with integer keys
my_dict = {1: 'simran', 2: 'Python'}
print(my_dict)

# dictionary with mixed keys
my_dict = {'name': 'Sanjivani', 1: [2, 4, 3]}
print(my_dict)

# using dict()
my_dict = dict({1:'ECE', 2:'IT'})
print(my_dict)

# from sequence having each item as a pair
my_dict = dict([('name','sanjivani'), (2,'COEP')])
print(my_dict)

#access the values from dictionary
print(my_dict['name'])
print(my_dict.get(2))

{1: 'simran', 2: 'Python'}
{'name': 'Sanjivani', 1: [2, 4, 3]}
{1: 'ECE', 2: 'IT'}
{'name': 'sanjivani', 2: 'COEP'}
sanjivani
COEP

In [13]:
#Membership Operators

# In Operator
x = 5
if (type(x) is int):
    print("true")
else:
    print("false")

str= "Celebal"
print ('le' in str)
print ('lcb' in str)

#Not In Operator
x = 5.2
if (type(x) is not int):
    print("true")
else:
    print("false") 
    
str1= "Sanjivani"
print('sanjivani' not in str1)
print('celebal' not in str1)

true
True
False
true
True
True